{% extends 'base.html.twig' %}

{% block container %}
    <h1>{{ recipe.name }} <small>proposed by {{ recipe.createdBy.username }}</small></h1>

    <section>
        <h2>Ingredients</h2>
        <ul>
            {% for ingredient in recipe.ingredients %}
                <li>{{ ingredient.quantity}} {{ ingredient.ingredient.name }}</li>
            {% endfor %}
        </ul>
    </section>

    <section>
        <h2>Instructions</h2>
        <p>{{ recipe.description }}</p>
    </section>
{% endblock %}
